html, body{
  margin-top: 0px;
  margin-left: 0px;
}
body{
  background-color: #5c2a9d;
  color: rgb(32 255 131);
  text-align: center;
}
h1{
  font-size: 8rem;
  font-family: Lobster;
  margin-top: 2%;
  margin-bottom: 2%;
}

h2{
  text-align: center;
  font-family: Satisfy;
  margin-left:  10%;
  margin-right: 10%;
  display: inline;
}
h3{
  text-align: center;
  color: yellow;
  display: inline;
  margin-left:  8%;
  margin-right: 8%;
}
img{
  padding: 2%;
}

#footer{
  color: beige;
}
